.Notifications {
    padding: 20px;
    border: 2px dashed red;
    position: relative;
    background-color: #fff;
    margin: 20px;
}

.Notifications ul li[data-priority="default"] {
    color: blue;
}


.Notifications ul li {
    color: red;
}
